<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onechat</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
</head>
<body>
    <div class="logo">onechat</div>
    <div class="chat-layout">
        <div class="sidebar">
            <h2>Rooms</h2>
            <ul id="room-list"></ul>
            <input type="text" id="new-room-input" placeholder="New room name">
            <button id="create-room-button">Create Room</button>
        </div>
        <div class="chat-container">
            <div class="chat-header">
                <p>Your nickname: <span id="user-nickname">{{ nickname }}</span></p>
                <p id="current-room">Current Room: default</p>
            </div>
            <div id="chat-messages" class="chat-messages"></div>
            <div class="chat-input">
                <input type="text" id="message-input" placeholder="Type your message...">
                <button id="send-button">Send</button>
            </div>
        </div>
    </div>
    <div class="made-by">Made by levs16</div>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>